.home_menu {
  .homeBarText {
    transition: all 1s;
    opacity: 0;
  }
}

.home_menu.inView {
  & .homeBarText {
    transition: all 1s;
    opacity: 1;
    @include animation(
      $name: home-bar,
      $duration: 20s,
      $iteration-count: infinite,
      $timing-function: linear
    );
  }
}

@keyframes home-bar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
