.header.inView {
  transition: all 0.5s;
  background-color: transparent;
  & > .header_container {
    transition: all 0.5s;
    justify-content: space-around;
    gap: 300px;
  }
}

.header {
  background: #000;
  transition: all 0.5s;
  & > .header_container {
    transition: all 0.5s;
    justify-content: space-around;
    gap: 30px;
  }
}
